{% extends "base.html" %}

{% block content %}
<h5>Blogs Posted By Created</h5>

<ul>
{% for blog in blogs %}
    <li>
        <h2><a href=/blogs/{{ blog.key().id() }} class="main-title">{{ blog.title }}</a></h2>
        <h6 class="post-date">{{ blog.created }}</h6>
        <P class="post-context">{{ blog.context | safe}}</p>
    </li>
{% endfor %}
<ul>


<!-- <form method="post">
    <label>title
           <input type="text" name="title">
    </label>
    <br>
    <br>
    <br>
    <label>context<br>
           <textarea name="context"></textarea>
    </label>
    <input type="submit">
</form> -->


{% endblock %}
